*{
    padding: 0;
    margin: 0;
}
.main{
    text-align: center;
}
body{
    font-family: "Open sans", sans-serif;
    background-color: #FFBA00;
}
img{
    height: 400px;
    width: 400px;
    margin-bottom: 150px;
}
h1{
    margin-bottom: 40px;
    font-size: 70px;
    font-weight: bolder;
    padding: 20px;
    text-align: center;
    margin-top: 80px;
}
.text{
    font-size: 20px;
    padding: 20px;
    text-align: center;
}
.flex-container{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
.flex-item1{
    text-align: center;
}
.flex-item2{
    text-align: center;
}
.flex-item3{
    text-align: center;
}
h5{
    margin-bottom: 5px;
    font-weight: lighter;
}
